Home page of Python Summer Party: [Link](https://www.interviewmaster.ai/python-party/home)

Python Party Day04: Search results page: user interaction patterns [Link_to_problem](https://www.interviewmaster.ai/chat/136d4d02-3bda-4de7-98f1-0a44562caff3)

Easy problem ‚≠ê

Tables

`user_engagement_data(user_id, interaction_time, search_results_displayed, interaction_date)`

#### Data

In [1]:
import pandas as pd

data = {
    "user_id": [
        "user_1", "user_2", "user_1", "user_3", "user_4", "user_5", "user_6", "user_7", "user_8", "user_9",
        "user_10", "user_2", "user_11", "user_12", "user_13", "user_14", "user_15", "user_16", "user_17", "user_18",
        "user_19", "user_20", "user_21", "user_22", "user_23", "user_24", "user_25", "user_26", "user_27", "user_28",
        "user_29", "user_30", "user_31", "user_32", "user_33", "user_34", "user_35", "user_36", "user_37", "user_38",
        "user_39", "user_40", "user_41", "user_42", "user_43", "user_44", "user_45", "user_46", "user_47", "user_48",
        "user_49", "user_50", "user_51", "user_52", "user_53", "user_54", "user_55", "user_56", "user_57", "user_58"
    ],
    "interaction_date": [
        "2024-07-05", "2024-07-10", "2024-07-05", "2024-08-01", "2024-08-15", "2024-09-05", "2024-10-10", "2024-11-20", "2024-12-31", "2025-01-15",
        "2025-02-20", "2024-07-10", "2025-03-01", "2025-03-05", "2025-03-10", "2025-03-15", "2025-03-20", "2025-03-25", "2025-04-01", "2025-04-05",
        "2025-04-10", "2025-04-15", "2025-04-20", "2025-04-25", "2025-04-30", "2025-05-05", "2025-05-10", "2025-05-15", "2025-05-20", "2025-05-25",
        "2025-06-01", "2025-06-05", "2025-06-10", "2025-06-15", "2025-06-20", "2025-06-25", "2025-06-29", "2025-06-30", "2024-07-15", "2024-07-20",
        "2024-08-05", "2024-08-10", "2024-08-15", "2024-08-20", "2024-09-01", "2024-09-05", "2024-09-10", "2024-09-15", "2024-09-20", "2024-09-25",
        "2024-10-01", "2024-10-05", "2024-10-10", "2024-10-15", "2024-10-20", "2024-10-25", "2024-10-30", "2024-11-01", "2024-11-05", "2024-11-10"
    ],
    "interaction_time": [
        35.5, 22.3, 35.5, 48, None, 60.2, 12, 80, 55, 75.5,
        30, 22.3, 92.5, 15, 45.3, 5, 68, 110, 29.9, 150,
        33.3, 25, 40, 85.5, None, 55.5, 65, 70, 95, 50,
        88, 42, 37, 82, 20, 90, 77, 66.6, 100, 110.5,
        35, 59.9, 47.3, None, 68.5, 72.7, 55.5, 62, 40, 85,
        95, 33.3, 44.4, 88.8, 76.5, 90, None, 101, 59, 66
    ],
    "search_results_displayed": [
        10, 5, 10, 15, 20, 10, 5, 15, 20, 10,
        5, 5, 10, 15, 20, 5, 10, 15, 20, 10,
        5, 15, 20, 10, 5, 15, 20, 10, 5, 15,
        20, 10, 5, 15, 20, 10, 5, 15, 20, 10,
        5, 15, 20, 10, 5, 15, 20, 10, 5, 15,
        20, 10, 5, 15, 20, 10, 5, 15, 20, 10
    ]
}

user_engagement_data = pd.DataFrame(data)
user_engagement_data.describe()

       interaction_time  search_results_displayed
count         56.000000                 60.000000
mean          60.791071                 12.250000
std           29.370952                  5.555956
min            5.000000                  5.000000
25%           36.625000                  8.750000
50%           60.050000                 10.000000
75%           82.750000                 15.000000
max          150.000000                 20.000000

#### Q1. Identify and remove any duplicate entries in the dataset to ensure data quality. How many duplicates were found and removed?

##### Submitted Code

In [2]:
# Count duplicates
duplicates_count = user_engagement_data.duplicated().sum()
print(f"Duplicates found: {duplicates_count}")

# Remove duplicates
user_engagement_data = user_engagement_data.drop_duplicates()
print(f"Duplicates removed: {duplicates_count}")

Duplicates found: 2
Duplicates removed: 2

#### Q2. After dropping duplicates, aggregate the data to find the average user interaction time for each number of search results displayed per page. What are the average interaction times?

In [3]:
user_engagement_data.head()

  user_id interaction_date  interaction_time  search_results_displayed
0  user_1       2024-07-05              35.5                        10
1  user_2       2024-07-10              22.3                         5
3  user_3       2024-08-01              48.0                        15
4  user_4       2024-08-15               NaN                        20
5  user_5       2024-09-05              60.2                        10

##### Submitted Code

In [4]:

user_engagement_data = user_engagement_data.drop_duplicates()


# groups by values in the column search_results_displayed and take values in column interaction_time to find mean.
avg_interaction_times = (
    user_engagement_data
    .groupby('search_results_displayed', as_index=False)['interaction_time']
    .mean()
)

print(avg_interaction_times)

   search_results_displayed  interaction_time
0                         5         41.625000
1                        10         75.400000
2                        15         67.107143
3                        20         59.730769

#### Q3. Sort the aggregated results from Q2 to determine which number of search results per page has the highest average user interaction time. What is the optimal number of search results per page?

##### Submitted Code

In [5]:
sorted_avg_times = avg_interaction_times.sort_values(
    by='interaction_time', 
    ascending=False
)

print(sorted_avg_times)

   search_results_displayed  interaction_time
1                        10         75.400000
2                        15         67.107143
3                        20         59.730769
0                         5         41.625000

#### Completed on August 12, 2025