Home page of Python Summer Party: [Link](https://www.interviewmaster.ai/python-party/home)

Python Party Day02: Sponsored posts click performance [Link_to_problem](https://www.interviewmaster.ai/chat/57f2d26f-4ed7-411f-b684-1d56cba1b493)

Medium problem ⭐⭐

Tables

`fct_ad_performance(ad_id, product_id, clicks, impressions, recorded_date)`

`dim_product(product_id, product_category, product_name)`

#### Data

In [1]:
import pandas as pd
import numpy as np

data01 = {
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'product_name': [
        'Smart TV', 'Wireless Earbuds', 'Refrigerator', 'Bestselling Novel',
        'Designer Jeans', 'Blender', 'Tent', 'Smart Home Hub', 'Phone Charger',
        'Skincare Set', 'Drone', 'Car Charger'
    ],
    'product_category': [
        'Home Electronics', 'Electronics & Gadgets', 'Electronics Appliances', 'Books',
        'Fashion', 'Kitchen', 'Outdoor', 'Home Electronics', 'Electronics Accessories',
        'Health & Beauty', 'Electronics Gadgets', 'Automotive'
    ]
}

dim_product = pd.DataFrame(data01)
dim_product

    product_id       product_name         product_category
0            1           Smart TV         Home Electronics
1            2   Wireless Earbuds    Electronics & Gadgets
2            3       Refrigerator   Electronics Appliances
3            4  Bestselling Novel                    Books
4            5     Designer Jeans                  Fashion
5            6            Blender                  Kitchen
6            7               Tent                  Outdoor
7            8     Smart Home Hub         Home Electronics
8            9      Phone Charger  Electronics Accessories
9           10       Skincare Set          Health & Beauty
10          11              Drone      Electronics Gadgets
11          12        Car Charger               Automotive

In [2]:
data02 = {
    'ad_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114],
    'clicks': [10, 15, 20, 18, 5, 12, 50, 8, 14, 22, 30, 7, 13, 9],
    'product_id': [1, 1, 2, 2, 3, 3, 4, 5, 6, 8, 9, 11, 11, 12],
    'impressions': [200, 300, 250, 230, 150, 180, 500, 250, 200, 220, 300, 120, 150, 190],
    'recorded_date': [
        '2024-10-02', '2024-10-12', '2024-10-05', '2024-10-20',
        '2024-10-15', '2024-10-25', '2024-10-07', '2024-10-18',
        '2024-10-10', '2024-10-30', '2024-10-08', '2024-10-22',
        '2024-10-28', '2024-10-11'
    ]
}

fct_ad_performance = pd.DataFrame(data02)
fct_ad_performance

    ad_id  clicks  product_id  impressions recorded_date
0     101      10           1          200    2024-10-02
1     102      15           1          300    2024-10-12
2     103      20           2          250    2024-10-05
3     104      18           2          230    2024-10-20
4     105       5           3          150    2024-10-15
5     106      12           3          180    2024-10-25
6     107      50           4          500    2024-10-07
7     108       8           5          250    2024-10-18
8     109      14           6          200    2024-10-10
9     110      22           8          220    2024-10-30
10    111      30           9          300    2024-10-08
11    112       7          11          120    2024-10-22
12    113      13          11          150    2024-10-28
13    114       9          12          190    2024-10-11

#### Q1. What is the average click-through rate (CTR) for sponsored product ads for each product category that contains the substring 'Electronics' in its name during October 2024? This analysis will help determine which electronics-related categories are performing optimally.


CTR = (Number of Clicks) / (Number of Impressions)

In [3]:
df = dim_product.merge(fct_ad_performance, on='product_id', how='left')
df

,product_id,product_name,product_category,ad_id,clicks,impressions,recorded_date
0,1,Smart TV,Home Electronics,101.0,10.0,200.0,2024-10-02
1,1,Smart TV,Home Electronics,102.0,15.0,300.0,2024-10-12
2,2,Wireless Earbuds,Electronics & Gadgets,103.0,20.0,250.0,2024-10-05
3,2,Wireless Earbuds,Electronics & Gadgets,104.0,18.0,230.0,2024-10-20
4,3,Refrigerator,Electronics Appliances,105.0,5.0,150.0,2024-10-15
5,3,Refrigerator,Electronics Appliances,106.0,12.0,180.0,2024-10-25
6,4,Bestselling Novel,Books,107.0,50.0,500.0,2024-10-07
7,5,Designer Jeans,Fashion,108.0,8.0,250.0,2024-10-18
8,6,Blender,Kitchen,109.0,14.0,200.0,2024-10-10
9,7,Tent,Outdoor,NaN,NaN,NaN,NaN
10,8,Smart Home Hub,Home Electronics,110.0,22.0,220.0,2024-10-30
11,9,Phone Charger,Electronics Accessories,111.0,30.0,300.0,2024-10-08
12,10,Skincare Set,Health & Beauty,NaN,NaN,NaN,NaN
13,11,Drone,Electronics Gadgets,112.0,7.0,120.0,2024-10-22
14,11,Drone,Electronics Gadgets,113.0,13.0,150.0,2024-10-28
15,12,Car Charger,Automotive,114.0,9.0,190.0,2024-10-11

In [4]:
df['ctr'] = df['clicks']/df['impressions']
df

,product_id,product_name,product_category,ad_id,clicks,impressions,recorded_date,ctr
0,1,Smart TV,Home Electronics,101.0,10.0,200.0,2024-10-02,0.050000
1,1,Smart TV,Home Electronics,102.0,15.0,300.0,2024-10-12,0.050000
2,2,Wireless Earbuds,Electronics & Gadgets,103.0,20.0,250.0,2024-10-05,0.080000
3,2,Wireless Earbuds,Electronics & Gadgets,104.0,18.0,230.0,2024-10-20,0.078261
4,3,Refrigerator,Electronics Appliances,105.0,5.0,150.0,2024-10-15,0.033333
5,3,Refrigerator,Electronics Appliances,106.0,12.0,180.0,2024-10-25,0.066667
6,4,Bestselling Novel,Books,107.0,50.0,500.0,2024-10-07,0.100000
7,5,Designer Jeans,Fashion,108.0,8.0,250.0,2024-10-18,0.032000
8,6,Blender,Kitchen,109.0,14.0,200.0,2024-10-10,0.070000
9,7,Tent,Outdoor,NaN,NaN,NaN,NaN,NaN
10,8,Smart Home Hub,Home Electronics,110.0,22.0,220.0,2024-10-30,0.100000
11,9,Phone Charger,Electronics Accessories,111.0,30.0,300.0,2024-10-08,0.100000
12,10,Skincare Set,Health & Beauty,NaN,NaN,NaN,NaN,NaN
13,11,Drone,Electronics Gadgets,112.0,7.0,120.0,2024-10-22,0.058333
14,11,Drone,Electronics Gadgets,113.0,13.0,150.0,2024-10-28,0.086667
15,12,Car Charger,Automotive,114.0,9.0,190.0,2024-10-11,0.047368

In [5]:
df['recorded_date'] = pd.to_datetime(df['recorded_date'])

oct_data =df[ (df['recorded_date'].dt.year == 2024) 
                & (df['recorded_date'].dt.month == 10)]
oct_data

,product_id,product_name,product_category,ad_id,clicks,impressions,recorded_date,ctr
0,1,Smart TV,Home Electronics,101.0,10.0,200.0,2024-10-02,0.050000
1,1,Smart TV,Home Electronics,102.0,15.0,300.0,2024-10-12,0.050000
2,2,Wireless Earbuds,Electronics & Gadgets,103.0,20.0,250.0,2024-10-05,0.080000
3,2,Wireless Earbuds,Electronics & Gadgets,104.0,18.0,230.0,2024-10-20,0.078261
4,3,Refrigerator,Electronics Appliances,105.0,5.0,150.0,2024-10-15,0.033333
5,3,Refrigerator,Electronics Appliances,106.0,12.0,180.0,2024-10-25,0.066667
6,4,Bestselling Novel,Books,107.0,50.0,500.0,2024-10-07,0.100000
7,5,Designer Jeans,Fashion,108.0,8.0,250.0,2024-10-18,0.032000
8,6,Blender,Kitchen,109.0,14.0,200.0,2024-10-10,0.070000
10,8,Smart Home Hub,Home Electronics,110.0,22.0,220.0,2024-10-30,0.100000
11,9,Phone Charger,Electronics Accessories,111.0,30.0,300.0,2024-10-08,0.100000
13,11,Drone,Electronics Gadgets,112.0,7.0,120.0,2024-10-22,0.058333
14,11,Drone,Electronics Gadgets,113.0,13.0,150.0,2024-10-28,0.086667
15,12,Car Charger,Automotive,114.0,9.0,190.0,2024-10-11,0.047368

In [6]:
elec_df = oct_data[ oct_data['product_category'].str.contains('Electronics') ]
elec_df

,product_id,product_name,product_category,ad_id,clicks,impressions,recorded_date,ctr
0,1,Smart TV,Home Electronics,101.0,10.0,200.0,2024-10-02,0.050000
1,1,Smart TV,Home Electronics,102.0,15.0,300.0,2024-10-12,0.050000
2,2,Wireless Earbuds,Electronics & Gadgets,103.0,20.0,250.0,2024-10-05,0.080000
3,2,Wireless Earbuds,Electronics & Gadgets,104.0,18.0,230.0,2024-10-20,0.078261
4,3,Refrigerator,Electronics Appliances,105.0,5.0,150.0,2024-10-15,0.033333
5,3,Refrigerator,Electronics Appliances,106.0,12.0,180.0,2024-10-25,0.066667
10,8,Smart Home Hub,Home Electronics,110.0,22.0,220.0,2024-10-30,0.100000
11,9,Phone Charger,Electronics Accessories,111.0,30.0,300.0,2024-10-08,0.100000
13,11,Drone,Electronics Gadgets,112.0,7.0,120.0,2024-10-22,0.058333
14,11,Drone,Electronics Gadgets,113.0,13.0,150.0,2024-10-28,0.086667

In [7]:
avg_ctr_category = elec_df.groupby('product_category')['ctr']
avg_ctr_per_category = avg_ctr_category.mean()
avg_ctr_per_category

product_category
Electronics & Gadgets      0.079130
Electronics Accessories    0.100000
Electronics Appliances     0.050000
Electronics Gadgets        0.072500
Home Electronics           0.066667
Name: ctr, dtype: float64

In [8]:
avg_ctr_per_category = avg_ctr_per_category.reset_index()
avg_ctr_per_category

          product_category       ctr
0    Electronics & Gadgets  0.079130
1  Electronics Accessories  0.100000
2   Electronics Appliances  0.050000
3      Electronics Gadgets  0.072500
4         Home Electronics  0.066667

##### Submitted Code

In [9]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: fct_ad_performance, dim_product
# Please print your final result or dataframe
df = dim_product.merge(fct_ad_performance, on='product_id', how='left')
df['ctr'] = df['clicks']/df['impressions']

df['recorded_date'] = pd.to_datetime(df['recorded_date'])

oct_data =df[ (df['recorded_date'].dt.year == 2024) 
                & (df['recorded_date'].dt.month == 10)]

elec_df = oct_data[ oct_data['product_category'].str.contains('Electronics') ]

avg_ctr_per_category = elec_df.groupby('product_category')['ctr']
avg_ctr_per_category = avg_ctr_per_category.mean()
avg_ctr_per_category = avg_ctr_per_category.reset_index()
print(avg_ctr_per_category)

          product_category       ctr
0    Electronics & Gadgets  0.079130
1  Electronics Accessories  0.100000
2   Electronics Appliances  0.050000
3      Electronics Gadgets  0.072500
4         Home Electronics  0.066667

#### Q2. Which product categories have a CTR greater than the aggregated overall average CTR for sponsored product ads during October 2024? This analysis will identify high-performing categories for further optimization. For this question, we want to calculate CTR for each ad, then get the average across ads by product category & overall.

In [10]:
oct_data

,product_id,product_name,product_category,ad_id,clicks,impressions,recorded_date,ctr
0,1,Smart TV,Home Electronics,101.0,10.0,200.0,2024-10-02,0.050000
1,1,Smart TV,Home Electronics,102.0,15.0,300.0,2024-10-12,0.050000
2,2,Wireless Earbuds,Electronics & Gadgets,103.0,20.0,250.0,2024-10-05,0.080000
3,2,Wireless Earbuds,Electronics & Gadgets,104.0,18.0,230.0,2024-10-20,0.078261
4,3,Refrigerator,Electronics Appliances,105.0,5.0,150.0,2024-10-15,0.033333
5,3,Refrigerator,Electronics Appliances,106.0,12.0,180.0,2024-10-25,0.066667
6,4,Bestselling Novel,Books,107.0,50.0,500.0,2024-10-07,0.100000
7,5,Designer Jeans,Fashion,108.0,8.0,250.0,2024-10-18,0.032000
8,6,Blender,Kitchen,109.0,14.0,200.0,2024-10-10,0.070000
10,8,Smart Home Hub,Home Electronics,110.0,22.0,220.0,2024-10-30,0.100000
11,9,Phone Charger,Electronics Accessories,111.0,30.0,300.0,2024-10-08,0.100000
13,11,Drone,Electronics Gadgets,112.0,7.0,120.0,2024-10-22,0.058333
14,11,Drone,Electronics Gadgets,113.0,13.0,150.0,2024-10-28,0.086667
15,12,Car Charger,Automotive,114.0,9.0,190.0,2024-10-11,0.047368

In [11]:
avg_ctr_per_category = oct_data.groupby('product_category')['ctr'].mean().reset_index()
avg_ctr_per_category

          product_category       ctr
0               Automotive  0.047368
1                    Books  0.100000
2    Electronics & Gadgets  0.079130
3  Electronics Accessories  0.100000
4   Electronics Appliances  0.050000
5      Electronics Gadgets  0.072500
6                  Fashion  0.032000
7         Home Electronics  0.066667
8                  Kitchen  0.070000

In [12]:
overall_avg_ctr = oct_data['ctr'].mean()
overall_avg_ctr

0.06804494932984635

In [13]:
greater_than_avg_ctr = avg_ctr_per_category[avg_ctr_per_category['ctr'] > overall_avg_ctr]
greater_than_avg_ctr

          product_category      ctr
1                    Books  0.10000
2    Electronics & Gadgets  0.07913
3  Electronics Accessories  0.10000
5      Electronics Gadgets  0.07250
8                  Kitchen  0.07000

##### Submitted Code

In [14]:
df = dim_product.merge(fct_ad_performance, on='product_id', how='left')
df['ctr'] = df['clicks']/df['impressions']

df['recorded_date'] = pd.to_datetime(df['recorded_date'])

oct_data =df[ (df['recorded_date'].dt.year == 2024) 
                & (df['recorded_date'].dt.month == 10)]

avg_ctr_per_category = oct_data.groupby('product_category')['ctr'].mean().reset_index()

overall_avg_ctr = oct_data['ctr'].mean()

greater_than_avg_ctr = avg_ctr_per_category[avg_ctr_per_category['ctr'] > overall_avg_ctr]
print(greater_than_avg_ctr)

          product_category      ctr
1                    Books  0.10000
2    Electronics & Gadgets  0.07913
3  Electronics Accessories  0.10000
5      Electronics Gadgets  0.07250
8                  Kitchen  0.07000

#### Q3. For the product categories identified in the previous question, what is the percentage difference between their CTR and the overall average CTR for October 2024? This analysis will quantify the performance gap to recommend specific categories for targeted advertising optimization.

##### Submitted Code

In [15]:
greater_than_avg_ctr['percentage_diff'] = ((greater_than_avg_ctr['ctr'] - overall_avg_ctr)/overall_avg_ctr)*100
greater_than_avg_ctr

C:\Users\anish\AppData\Local\Temp\ipykernel_18092\732144914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  greater_than_avg_ctr['percentage_diff'] = ((greater_than_avg_ctr['ctr'] - overall_avg_ctr)/overall_avg_ctr)*100

          product_category      ctr  percentage_diff
1                    Books  0.10000        46.961679
2    Electronics & Gadgets  0.07913        16.291416
3  Electronics Accessories  0.10000        46.961679
5      Electronics Gadgets  0.07250         6.547217
8                  Kitchen  0.07000         2.873175

#### Completed on August 09, 2025